
<p *ngIf="blueClass">Button is blue.</p>

<button (click)="blueClass = !blueClass"
    [ngClass]="{ blue: blueClass}"
    [ngStyle]="{ 'font-size.px': buttonFontSize}"    
>Change</button>

<hr>
<p>
    {{title | uppercase }}
</p>
<input (keyup)="changeImage($event)"  [value]="imageURL">
<app-post *ngFor="let image of images; let i = index"
    [img]="image"
    (imgSelected)="logImg($event)"
>
    <p> {{i}}Some Caption</p>
</app-post>

<p> Hello {{ name | uppercase }} </p>
<p> Hello {{ getName()}} </p>
<p> {{ 16 + 11}}</p>
<p> {{ currentDate | date: 'yyyy-MM-dd' }}</p>
<p> {{ 2222.333333 | currency: 'INR' }}</p>
<p>{{temperature | number: '1.0-0'}}</p>
<pre>{{ dosa | json }}</pre>